div#ddd {
    color: red;
}
div#numero {
    color: red;
}

div#btnAddNumero {
    margin-top: 10px;
    margin-bottom: 10px;
}
:host /deep/ .ng-tns-c2-7.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all.ng-star-inserted {
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    font-family: cursive;
}


/* modal dialogo */
:host /deep/.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ng-tns-c7-8.ng-star-inserted {
    background-color: blue;
    color: white;
    font-family: cursive;
}


div#buscar {
    font-family: Arial;
    color: brown;
    font-family: arial black;
    margin-bottom: 10px;
}



th#header {
    background-color: orange;
}

.btADD {
    margin-bottom: 10px;
    margin-top: 20px;
}