<div class="container">
  <!--  FORMULARIO   -->
  <p-panel header="CADASTRAR PROFESSOR" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div class="formulario">
      <label>Nome Professor</label>
      <div class="p-grid">
        <div class="p-col-12 p-sm-12, p-sm-12">
          <input type="text" pInputText class="formulario__nome" [(ngModel)]="professor.nome">
        </div>
      </div>

      <div class="formulario__item">
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-2">
            <input type="text" pInputText placeholder="Matricula" [(ngModel)]="professor.matricula">
          </div>
          <div class="p-col-12 p-md-6 p-lg-2">
            <input type="text" pInputText placeholder="Login" [(ngModel)]="professor.usuario.login">
          </div>
          <div class="p-col-12 p-md-6 p-lg-2">
            <input type="text" pInputText placeholder="Senha" [(ngModel)]="professor.usuario.senha">
          </div>
          <div class="p-col-12 p-md-6 p-lg-2">
            <input type="text" pInputText placeholder="Permissão" [(ngModel)]="professor.permissao">
          </div>
        </div>
      </div>

      <div class="D">
        <app-disciplina [listaDisciplina]='professor.disciplinas'></app-disciplina>
      </div>
      <div class="C">
        <app-curso></app-curso>
      </div>

    </div>
<!-- footer dos botoes -->
    <p-button icon="pi pi-left" (click)="voltar()"></p-button>
  </p-panel>
</div>