<div class="container">
  <!-- 
  PAINEL PESQUISA
 -->
  <p-panel header="PESQUISAR PROFESSOR" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div class="pesquisa-seletores">
      <div class="p-grid">
        <div class="p-col-12 p-sm-2, p-sm-2">
          <h3 class="first">Disciplina</h3>
          <p-multiSelect></p-multiSelect>
        </div>
      

      <div class="p-col-12 p-sm-2, p-sm-2">
        <h3 class="first">Curso</h3>
        <p-multiSelect  ></p-multiSelect>
      </div>
    </div>
  </div>

<div class="pesquisa-input">
    <div class="p-grid">
      <div class="p-col-12 p-sm-2, p-sm-3">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
          <input type="text" pInputText placeholder="Matricula">
        </div>
      </div>

      <div class="p-col-12 p-sm-2, p-sm-3">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="Nome">
        </div>
      </div>    
  </div>
  </div>
<div class="botao">
    <p-button icon="pi pi-search"></p-button>
</div>
  
  </p-panel>
</div>
<!-- 
  PAINEL RESULTADO
 -->

<div class="container">
  <p-panel class="resultado" header="RESULTADO" [toggleable]="true" [style]="{'margin-bottom':'20px'}">

      <!-- <h3 class="first">Basic</h3>
      <p-table [value]="cursos">
          <ng-template pTemplate="header">
              <tr>
                  <th>id</th>
                  <th>nome</th>
                  
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-curso>
              <tr>
                  <td>{{curso.idCurso}}</td>
                  <td>{{curso.nome}}</td>
                  
              </tr>
          </ng-template>
      </p-table> -->

  </p-panel>
</div>