  /*--------------------*\
    PAINEL-PESQUISA
  \*--------------------*/
  :host /deep/ .ng-tns-c2-0.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all.ng-star-inserted {
    text-align: center;
    font-size: 190%;
    font-family: cursive;
    background-color: blue;
    color: white;
}
/*--------------------*\
    BOTAO-PESQUISA
  \*--------------------*/
.botao {
    
    position: relative;
    right: -95%;
}
  /*--------------------*\
    PAINEL-RESULTADO
  \*--------------------*/
  :host /deep/ .ng-tns-c2-3.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all.ng-star-inserted {
    text-align: center;
    font-size: 160%;
    font-family: cursive;
    background-color: orange;
    color: white;
  }
   
