  /*--------------------*\
    PAINEL-PESQUISA
  \*--------------------*/
  :host /deep/ .ng-tns-c2-0.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all.ng-star-inserted {
    text-align: center;
    font-family: cursive;
    background-color: blue;
    color: white;
}
/*--------------------*\
    BOTAO-PESQUISA
  \*--------------------*/
.botao {
    
    position: relative;
    right: -95%;
}
  /*--------------------*\
    PAINEL-RESULTADO
  \*--------------------*/
  :host /deep/ .ng-tns-c2-3.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all.ng-star-inserted {
    text-align: center;
    font-family: cursive;
    background-color: orange;
    color: white;
  }
   
  td {
    text-align: center;

  }
  :host /deep/ button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
    margin-right: 10px;
}

th {
  color: black !important;
}